[submodule "extern/cuVSLAM"]
	path = extern/cuVSLAM
	url = https://github.com/nvidia-isaac/cuVSLAM.git
[submodule "extern/DROID-SLAM"]
	path = extern/DROID-SLAM
	url = https://github.com/princeton-vl/DROID-SLAM.git
[submodule "extern/MAC-VO"]
	path = extern/MAC-VO
	url = https://github.com/MAC-VO/MAC-VO.git
[submodule "extern/mega-sam"]
	path = extern/mega-sam
	url = https://github.com/mega-sam/mega-sam.git
[submodule "extern/ORB_SLAM3"]
	path = extern/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
